<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>
  <div id="webgl_container"></div>
  <div id="simple_preloader"><div id="simple_progress_bar"></div></div>

  <script id="sunVertexShader" type="x-shader/x-vertex">
    varying vec2 vUv;
    void main() {
      vUv = uv;
      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    }
  </script>
  <script id="sunFragmentShader" type="x-shader/x-fragment">
    varying vec2 vUv;
    uniform float offset;
    void main() {
      vec4 firstColor = vec4(1.,.6235,.1941,0.1);//первый цвет
      vec4 secondColor = vec4(.9372,.1294,.1176,0.1);//Второй цвет
      float lineSize = 9.;//Размер линий
      float progress = pow((vUv.y)*lineSize,2.);// Возводим в квадрат чтобы линиии были не равномерные
      progress = progress-offset;// отнимаем отступ для анимации, отступ меняет в update
      progress = (cos(progress)+1.)/2.;// Высчитываем косинус чтобы значение повторялось. И были всегда от 0 до 1 прибавляем 1 делим на 2
      progress = smoothstep(.45,.55,progress); // Сглаживание краев. чем значения дальше от .5 тем края более размытые.
      if(vUv.y < .9)gl_FragColor = mix(firstColor,secondColor,progress); // Высчитываем цвет смешивая два в зависимости от прогресса
      else gl_FragColor = firstColor;
    }
  </script>

  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
